.des {
  background-color: #4b4272b2; /* Setting background color */
  padding: 10px; /* Adding padding */
}

.des a {
  color: white; /* Setting link text color */
  text-decoration: none; /* Removing underline from links */
  margin-right: 10px; /* Adding margin between links */
}

.des a:hover {
  text-decoration: underline; /* Underlining links on hover */
}
